{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-react-jsx"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "esmodules": true,
          "node": "current"
        }
      },
      "@babel/preset-react"
    ]
  ]
}
